@page "/"
@using Azure1.Models;
@using Azure1.Repositories;
@using Microsoft.EntityFrameworkCore;
@inject UnitOfWork uow

<PageTitle>Index</PageTitle>

<h1>Blazor App Number 1</h1>

<a href="https://localhost:7225">Go to Azure 2</a>

<button class="btn btn-primary" @onclick=CreateUser>Create User</button>

<button class="btn btn-primary" @onclick=FetchUser>Fetch User</button>

<button class="btn btn-primary" @onclick=DeleteUser>Delete User</button>
 
<p>@FoundUsername</p>

@code{
    string FoundUsername { get; set; } = "User Not Found";

    async Task CreateUser()
    {
        var user = new UserModel()
            {
                Username = "Azure 1 User",
                Email = "Azure 1 Email",
                FirstName = "Azure 1 FirstName",
                LastName = "Azure 1 LastName"
            };
        uow.UserRepo.Insert(user);
        await uow.SaveAsync();
    }

    async Task FetchUser()
    {
        var found = await uow.UserRepo.GetQueryAsNoTracking(u => u.Username == "Azure 2 User").FirstOrDefaultAsync();        
        FoundUsername = found != null ? found.Username : "Search Found Nothing";
        StateHasChanged();
    }

    async Task DeleteUser()
    {
        var found = await uow.UserRepo.GetFirstAsync(u => u.Username == "Azure 1 User");
        if (found == null) return;
        uow.UserRepo.Delete(found);
        await uow.SaveAsync();
    }
}